<header class="header">
    <div class="overlay has-fade"></div>

    <nav class="container container--pall flex flex-jc-sb flex-ai-c">
      <a href="/" class="header__logo">
        <img src="images/logo.svg" alt="MovieTime" />
      </a>

      <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
        <span></span>
        <span></span>
        <span></span>
      </a>

      <div class="header__links hide-for-mobile">
        <a href="/">Accueil</a>
        <a href="#">A propos</a>
        <a href="#">Contact</a>
        <a href="/category">Catégories</a>
        <a href="login.php">Connexion</a>
      </div>

      <a href="registration.php" class="button header__cta hide-for-mobile"
        >S'inscrire</a>
    </nav>

    <div class="header__menu has-fade">
      <a href="">Accueil</a>
      <a href="">A propos</a>
      <a href="">Contact</a>
      <a href="">Catégories</a>
      <a href="login.php">Connexion</a>
    </div>
    <script src="./assets/js/script.js"></script>
  </header>