<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/dist/style.css" />

    <title>MovieTime</title>
  </head>
  <body>
    <header class="header">
      <div class="overlay has-fade"></div>

      <nav class="container container--pall flex flex-jc-sb flex-ai-c">
        <a href="/" class="header__logo">
          <img src="images/logo.svg" alt="MovieTime" />
        </a>

        <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <div class="header__links hide-for-mobile">
          <a href="#">Accueil</a>
          <a href="#">A propos</a>
          <a href="#">Contact</a>
          <a href="#">Catégories</a>
          <a href="login.php">Connexion</a>
        </div>

        <a href="registration.php" class="button header__cta hide-for-mobile"
          >S'inscrire</a>
      </nav>

      <div class="header__menu has-fade">
        <a href="">Accueil</a>
        <a href="">A propos</a>
        <a href="">Contact</a>
        <a href="">Catégories</a>
        <a href="login.php">Connexion</a>
      </div>
    </header>

    <section class="feature">
        <div class="feature__content container container--pall">
          <div class="feature__intro">
            <h2>A propos</h2>
          </div>